body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,  rgba(121,191,250,0.2) 0%, rgba(233,127,127,0.2) 34%,rgba(252,165,132,0.2) 90%);
}
header {
    min-height: auto;
    width: auto;
    position: fixed;
    left: 0px;
    right: 10px;
    margin-bottom: 5vw;
    top: 0;
    z-index: 9999999;
}
header .container {
    left: 0;
    margin-left: 10px;
}
header .container li {
    font-weight: bold;
}
header .container li span {
    font-weight: normal;
}
header .container a i {
    color: rgb(0, 2, 95);
}
header .cover{
    height: 60px;
    min-width: auto;
    background: linear-gradient(90deg, rgba(252,165,132,1) 0%, rgba(233,127,127,1) 34%, rgba(121,191,250,1) 100%);
    border-radius: 0 0 50px 20px;
    border: 1px solid brown;
    border-top: none;
}
header .logo {
    width: 100px;
    height: 90px;
    display: block;
    background-color: aliceblue;
    border-radius: 0 0 30px 30px;
}
header .logo img {
    width: 100px;
    height: 90px;
    display: block;
    background-color: aliceblue;
    border-radius: 0 0 30px 30px;
}
header li {
    display: block;
    text-align: justify;
}
header li span{
    text-align: justify;
    font-size: 14px;
}
header li a {
    color: black;
    text-decoration: none;
}
nav{
    clear: both;
    margin-top: 100px;
    min-height: 70px;
    width: auto;
}
nav img {
    width: 60px;
    height: 55px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    margin-right: 40px;
}

.banner{
    margin-top: 20px;
    min-height: 100px;
    width: auto;
}
.banner .rongSun {
    float: left;
    width: 480px;
    min-height: 100px;
}
.banner .rongNho {
    float: right;
    width: 480px;
    min-height: 100px;
}
.banner .rongSun h3 {
    text-align: center;
    font-weight: bold;
    color: brown;
}
.banner .rongNho h3 {
    text-align: center;
    font-weight: bold;
    color: brown;
}
.banner .container {
    margin: 0 10px 0 10px;
}
.banner .rongSun_IMG {
    float: right;
    width: 800px !important;
    height: auto;
    margin-bottom: 40px;
    text-align: center;
}
.banner .rongNho_IMG {
    float: left;
    width: 800px !important;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}
.banner .rongSun_IMG img{
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 800px !important;
    height: auto;
    border-radius: 30px;
}
.banner .rongNho_IMG img{
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 800px !important;
    height: auto;
    border-radius: 30px;
}

.banner .khoangTrong{
    min-height: 40px;
    width: auto;
    clear: both;
    display: block;
    margin: 30px auto 30px auto;
    border-radius: 30vw 50vw;
    display: block;
    text-align: center;
}
.banner .khoangTrong img{
    height: 50px;
    width: auto;
    clear: both;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.banner .khoangTrong a button h5 {
    display: inline-block;
    text-align: justify;
    color: rgb(56, 4, 2);
    margin-bottom: 0;
}
.banner .hr_khoangTrong {
    clear: both;
    width: 70vw;
    border: 1px solid rgba(143, 26, 65, 0.753);
}

/*Phần main*/
main{
    min-height: 500px;
    width: 100vw;
    clear: both;
}
main .container {
    left: 0 !important;
    margin-left: 20px !important;
    padding: 0 !important;
    right: 0;
}
main .main_left {
    float: left;
    width: 300px;
    min-height: 100px;
}
main .main_right {
    float: right;
    width: 500px;
    min-height: 100px;
}

.banner .gioiThieu {
    width: auto;
    min-height: 100px;
    background: rgb(255 196 196 / 81%);
    border: 2px solid rgb(13, 34, 1);
    border-radius: 10px;
    margin: 20px;
    padding: 10px 5px 10px 15px;
}
.banner .gioiThieu h3 {
    font-weight: bold;
    color: rgb(94, 30, 30);
    text-align: center;
    text-decoration: underline;
}
.banner .gioiThieu p {
    text-align: left;
}
.sidebar-container {
    width: 18vw;
    min-height: auto;
    padding-bottom: 50px;
    left: 0;
    background: linear-gradient(90deg, rgba(121, 192, 250, 0.4) 0%, rgba(233, 127, 127, 0.5) 30%, rgba(252,165,132,1) 70%);
    color: #fff;
    border-radius: 0 30px 10px 0;
    float: left;
  }
  
  .content-container {
    padding-top: 20px;
    float: left;
    width: 80vw !important;
  }
  .content-container .jumbotron
  {
      width: 80vw !important;
      background: none !important;
  }
  .sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background:  rgba(3, 31, 54, 0.87);
    border-radius: 0 30px 0 0;
  }
  
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  
  .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
  }
  
  .sidebar-navigation li .fa {
    margin-right: 10px;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .sidebar-navigation li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background:  linear-gradient(90deg, rgba(121, 192, 250, 1) 3%, rgba(233, 127, 127, 1) 32%, rgba(252,165,132,1) 65%);
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  
  .content-container {
    padding: 0 !important;
    display: inline-block !important;
    width: 70vw !important;
    margin: 0 !important;
    min-height: 30vw;
    
  }
  .content-container .container-fluid .jumbotron .box {
      height: 300px;
      width: inherit;
      background:  linear-gradient(90deg, rgba(121, 192, 250, 0.4) 0%, rgba(233, 127, 127, 0.5) 30%, rgba(252,165,132,1) 70%);
      border-radius: 8px;
      border: 1px solid black;
      margin-bottom: 20px;
  }
  .content-container .container-fluid .jumbotron .box .imgs {
    width: inherit;
    border-radius: 8px 8px 0 0;
  }
  .content-container .container-fluid .jumbotron .box .cont {
      padding: 10px;
  }
  .content-container .container-fluid .jumbotron .box .cont h5 {
      font-weight: bold;
      color: rgb(77, 4, 4);
  }
  .content-container .container-fluid .jumbotron .box .cont p {
    text-align: center;
    color: rgb(255, 255, 255);
}
  .content-container .container-fluid .jumbotron img{
      width: inherit;
      border-radius: 8px;
      border-radius: 8px 8px 0 0;
  }
/*Phần main*/
  footer{
    background: rgb(132, 132, 133);
    min-height: 100px;
    width: auto;
    clear: both;
}




/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#fa96cbbb; border-radius: 8px;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn:hover, .btn:focus, .btn.active {
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}

/*==================== 
	Footer 
====================== */


@media screen and (max-width: 770px) {
    header {
        position: fixed;
        left: 0;
        right: 0;
        min-height: 200px;
        opacity: 0.9;
    }
    header .logo {
        width: 0;
        height: 0;
        display: block;
        background-color: aliceblue;
        border-radius: 0 0 30px 30px;
    }
    header .logo img {
        width: 0px;
        height: 0px;
        display: block;
        background-color: aliceblue;
        border-radius: 0 0 30px 30px;
    }
    header .cover{
        height: auto;
        width: auto;
        background: linear-gradient(90deg, rgba(252,165,132,1) 0%, rgba(233,127,127,1) 34%, rgba(121,191,250,1) 100%);
        border-radius: 0 0 50px 20px;
    }
    header .container {
        margin-left: 0 !important;
    }
    nav{
        clear: both;
        margin-top: 130px !important;
        min-height: 70px;
        width: auto;
    }
  }
@media screen and (max-width: 900px)
  {
    .banner .rongSun {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height:auto ;
        float: none !important;
    }
    .banner .rongNho {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height:auto ;
        float: none !important;
    }
    .banner .rongSun_IMG {
        width: 100vw !important;
        min-height: 100px;
    }
    .banner .rongSun_IMG img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100vw !important;
        height: auto;
    }
    .banner .rongNho_IMG {
        width: 100vw !important;
        height: auto;
    }
    .banner .rongNho_IMG img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100vw !important;
        height: auto;
    }
    .content-container {
        padding: 0;
        display: inline-block !important;
        width: 100vw !important;
        min-height: auto;
        
      }
      .sidebar-container {
        width: 100vw;
        min-height: auto;
        left: 0;
        background: #1a1a1a;
        color: #fff;
        display: inline-block !important;
      }
      .content-container .jumbotron
  {
      width: 100vw !important;
  }
  }
@media screen and (max-width: 1000px)
  {
      header {
          min-height: 100px;
          position: fixed;
          left: 0;
          right: 0;
          float: left;
        }
      header .cover{
          height: auto;
          width: auto;
          background: linear-gradient(90deg, rgba(252,165,132,1) 0%, rgba(233,127,127,1) 34%, rgba(121,191,250,1) 100%);
          border-radius: 0 0 50px 20px;
      }
      
      nav{
        clear: both;
          margin-top: 105px;
          min-height: 70px;
          width: auto;
      }
      .content-container {
          padding: 0;
          display: inline-block !important;
          width: 75vw !important;
          
        }
  }